{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
<head>
  <div class="header">
    <title>SNS</title>
    <h1 class="home">Home</h1>
    <div class="header-element">
      <div class="notice">
        {% if request.user.is_authenticated %}
          {% if message_count == 0 %}
          <a href="{% url 'sns:notice' %}">通知</a>
          {% else %}
          <a href="{% url 'sns:notice' %}">通知:{{ message_count }}</a>
          {% endif %}
        {% endif %}
      </div>
      <a href="{% url 'sns:config' %}">設定</a>
      <a class="logout" href="{% url 'accounts:logout' %}">ログアウト</a>
    </div>
  </div>
</head>
<body>
  <a href="{% url 'sns:post' %}"><button class="post">POST</button>
    {% for post in posts %}
    <div>
      {{ post }}
      <span class="updated_datetime">{{ post.updated_datetime }}</span>
    </div>
    {% endfor %}
  </a>
  <div class="users-postdata">
    {% for post in postdata %}
    
    <div class="post-{{post.pk}}"> 
      <div class="user-element">
        <h4 class="user">
          <a href="{% url 'profile' post.user.name %}">{{ post.user.username }}</a>
          <div class="ud-item">
            <label class="itemlist" for="itemlist">:</label>
          </div>
        </h4>
      </div>
      <div class="item">
      {% if post.user.name == request.user.name %}
        <div class="text">
          <form action="{% url 'sns:delete_text' post.pk %}">{% csrf_token %}
            <button class="btn" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
          </form>
          <button><a class="btn" href="{% url 'sns:edit_text' post.pk %}">編集</a></button>
        </div>
      {% endif %}
      </div>

      <a href="{% url 'sns:post_detail' post.pk %}"><p>{{ post.text }}</p></a>

      {% if post.is_user_liked_for_post %}
      <button type="button" class="ajax-like-for-post" data-pk="{{ post.pk }}" id="ajax-like-for-post">
        <i class="fas fa-heart text-danger" id="like-for-post-icon-{{post.pk}}"></i>
      </button>
      {% else %}
      <button type="button" class="ajax-like-for-post" data-pk="{{ post.pk }}" id="ajax-like-for-post">
        <i class="far fa-heart text-danger" id="like-for-post-iconc"></i>
      </button>
      {% endif %}
      <span id="like-for-post-count-{{post.pk}}">{{ post.like }}</span>
    </div>
    <div style="border-bottom: 1px solid #333;"></div>
    {% endfor %}
  </div>
</body>

<div>
  {% block extrajs %}
  <script type="text/javascript">
  const likePostButtons = document.getElementsByClassName('ajax-like-for-post');
  for (const button of likePostButtons) {
    button.addEventListener('click', e => {
      const pk = button.dataset.pk
      e.preventDefault();
      const url = '{% url "sns:like_for_post" %}';
      fetch(url, {
        method: 'POST',
        body: `text_pk=${pk}`,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
          'X-CSRFToken': '{{ csrf_token }}',
        },
      }).then(response => {
        return response.json();
      }).then(response => {
        const counter = document.getElementById(`like-for-post-count-${pk}`)
        const icon = document.getElementById(`like-for-post-icon-${pk}`)
        counter.textContent = response.postdata
        console.log(response)
        if (response.method == 'create') {
          icon.classList.remove('far')
          icon.classList.add('fas')
          icon.id = `like-for-post-icon-${pk}`
        } else {
          icon.classList.remove('fas')
          icon.classList.add('far')
          icon.id = `like-for-post-icon-${pk}`
        }
      }).catch(error => {
        console.log(error);
      });
    });
  }
  </script>
  {% endblock %}
</div>