{% extends 'home.html' %} 
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static style.css %}">
</head>

<h2 class="leftcolor-black font-title">ログイン</h2>
<form method="POST">
  {% csrf_token %}
  <p>email<input class="form-control" name="username" /></p>
  <p>password<input class="form-control" type="password" name="password" /></p>

  <button class="btn btn-outline-jade font-title d-block mx-auto" type="submit" value="ログイン">ログイン</button>
</form>
<p class="text-d mb-3">
    アカウントをお持ちでない場合は<a href="{% url 'accounts:signup' %}">登録</a><br /></p>

{% endblock %}