{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/notice.css' %}">
<a href="{% url 'sns:base' %}">戻る</a>
{% if request.user.is_authenticated %}
    <div class="message-alert">
        {% for text in texts %}
            {% if text.user == user_name %}
            <h4><a href="{% url 'profile' text.user.name %}">{{ text.user.username }}</a></h4>
            <div class="alert"> 
            <p>注意:この投稿に不適切な内容が含まれているので編集か削除することをおすすめします</p>
            </div>
            <a href="{% url 'sns:post_detail' text.pk %}"><p>{{ text }}</p></a>
            <div class="text">
                <form action="{% url 'sns:delete_text' text.pk %}">{% csrf_token %}
                <button class="btn" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                </form>
                <button><a class="btn" href="{% url 'sns:edit_text' text.pk %}">編集</a></button>
            </div>
            <div style="border-bottom: 1px solid #333;"></div>
            {% endif %}
        {% endfor %}
        {% for comment in comments %}
            {% if comment.user == user_name %}
            <div class="alert"> 
            <p>注意:このコメントに不適切な内容が含まれているので編集か削除することをおすすめします</p>
            </div>
            <h4><a href="{% url 'profile' comment.user.name %}">{{ comment.user }}</a></h4>
            <a href="{% url 'sns:comment_detail' comment.pk %}"><p>{{ comment }}</p></a>
            <div class="comment">
                <form action="{% url 'sns:delete_text' comment.pk %}">{% csrf_token %}
                <button class="btn" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                </form>
                <button><a class="btn" href="{% url 'sns:edit_text' comment.pk %}">編集</a></button>
            </div>
            <div style="border-bottom: 1px solid #333;"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}