{% block content %}
    <div class="profile-username">
        <h1>{{user.username}}</h1>
        <div class="profile-name">
            <p>@{{user.name}}</p>
        </div>
        <div class="profile-bio">
            <p>{{profile.text}}</p>
        </div>
    </div>
    <div>
        {% if user.name == request.user.name %}
                <a href="{% url 'sns:edit_bio' name %}">編集</a>
        {% elif connected %}
            <a href="{% url 'sns:unfollow' name %}">フォロー解除</a>
            <p>あなたは{{user.username}}をフォローしています</p>
        {% else %}
            <a href="{% url 'sns:follow' name %}">フォロー</a>
        {% endif %}
    </div>
    <div>----------------------------------------------------</div>
{% endblock content %}
<div class="mypostdetail">
    {% for text in postdata %}
    <div class="alert alert-success" role="alert">
    <a href="{% url 'profile' text.user.name %}">{{ text.user.username }}</a>
    <p>{{text}}</p>
    {% if text.is_user_liked_for_post %}
      <button type="button" class="ajax-like-for-post" data-pk="{{ text.pk }}" id="ajax-like-for-post">
        <i class="fas fa-heart text-danger" id="like-for-post-icon-{{text.pk}}"></i>
      </button>
      {% else %}
      <button type="button" class="ajax-like-for-post" data-pk="{{ text.pk }}" id="ajax-like-for-post">
        <i class="far fa-heart text-danger" id="like-for-post-iconc"></i>
      </button>
      {% endif %}
      <span id="like-for-post-count-{{text.pk}}">{{ text.like }}</span>
    </div>  
    {% endfor %}
</div>
<div>
    <a href="{% url 'sns:base' %}">戻る</a>
</div>
<div>
    {% block extrajs %}
    <script type="text/javascript">
    const likePostButtons = document.getElementsByClassName('ajax-like-for-post');
    for (const button of likePostButtons) {
      button.addEventListener('click', e => {
        console.log("hoge")
        const pk = button.dataset.pk
        e.preventDefault();
        const url = '{% url "sns:like_for_post" %}';
        fetch(url, {
          method: 'POST',
          body: `text_pk=${pk}`,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            'X-CSRFToken': '{{ csrf_token }}',
          },
        }).then(response => {
          return response.json();
        }).then(response => {
          const counter = document.getElementById(`like-for-post-count-${pk}`)
          const icon = document.getElementById(`like-for-post-icon-${pk}`)
          counter.textContent = response.postdata
          console.log(response)
          if (response.method == 'create') {
            icon.classList.remove('far')
            icon.classList.add('fas')
            icon.id = `like-for-post-icon-${pk}`
          } else {
            icon.classList.remove('fas')
            icon.classList.add('far')
            icon.id = `like-for-post-icon-${pk}`
          }
        }).catch(error => {
          console.log(error);
        });
      });
    }
    </script>
    {% endblock %}
</div>